.navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;

}

.NavBar {
  display: flex;
  gap: 20px;
}

.NavBar > img {
  width: 50px;
}

.Links {
  display: flex;
  gap: 20px;
}
